.footer {
  background-color: #000;
  color: #757575;
  padding: 60px 12%;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}

.footer-contact {
  margin-bottom: 30px;
  font-size: 16px;
}

/* Grid layout like Netflix */
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin-bottom: 14px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.footer-links ul li:hover {
  text-decoration: underline;
  color: #fff;
}

/* Bottom country text */
.footer-country {
  margin-top: 40px;
  font-size: 14px;
}

/* Tablet View */
@media (max-width: 900px) {
  .footer {
    padding: 40px 8%;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile View */
@media (max-width: 480px) {
  .footer {
    padding: 30px 5%;
  }

  .footer-links {
    grid-template-columns: 1fr;
  }

  .footer-links ul li {
    font-size: 13px;
  }
}
